* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    position: relative;
    text-align: center;
}
body {
    margin:0px;
    color: black;
    background-color: #f1e1e1;
}
.container {
    margin-top: 10px;
}
.social-media {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 200px;  
}  
.social-media img {
    width: 30px;
    height: 30px;
}

.intro-card {
    position: absolute;
    top: 70px;
    right: 200px;
    color: whitesmoke;
    margin-left:180px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}
header img {
   top: 0;
   right: 0;
   width: 100%;
   height: 400px;  
}
.portrait img {
    position: absolute;
    top: 260px;
    right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
h1 {
    font-size: 40px;
}
p {
    color: black;
    font-size: 20px;
}

h4 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
}
h4 span {
    font-size: 25px;
    background-color: #fc9d9d;
    color:#4f3961; 
    padding: 5px;
}
h6 {
    font-size: 20px;
}
p span {
    color: #e76682;
    
}
.summary-section {
    text-align: center;
}
.tech-section {
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.featured-projects {
    font-size: 15px;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured-projects img {
    width: 300px;
    padding: 30px;   
}
.my-thoughts {
    font-size: 15px;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.my-thoughts img {
    width: 300px;
    padding: 30px;
}
.other-projects {
    background-color: whitesmoke;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px; 
    text-align: center;
}
.skills-section {
    background-color: whitesmoke;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px; 
    text-align: center;
}
footer  {
    background-color: #4f3961;
    color: white;
    text-align: center;
    padding: 20px;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
}
footer p {
    color: white;
    text-align: center;
    font-size: 15px;
}
@media (min-width: 670px) {
.portrait img {
    margin-right: 200px;
}
.intro-card {
    left: 10px;
}
.projects, .thoughts {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
}   
